/** Fix tab icon (sound icon was replacing site icon) */
/* stolen from Reddit  */
/* https://www.reddit.com/r/firefox/comments/17hlkhp/what_are_your_must_have_changes_in_aboutconfig/ */

/* Always show tab icon */
.tab-icon-image {
	opacity: 1 !important;
}

/* Move tab sound icon to the top left */
.tab-icon-overlay {
	/* top - left */
	top: -6px !important;
	inset-inline-end: 6px !important;
	width: 14px !important;
	height: 14px !important;
	padding: 1px !important;
	/* background */
	stroke: var(--tab-icon-overlay-stroke, black) !important;
	background: var(--tab-icon-overlay-stroke, black) !important;
	fill-opacity: 0.6 !important;
	/* icon color */
	color: #00DDFF !important;
	/* circle */
	border-radius: 10px !important;
}

.tab-icon-overlay:hover {
	/* background */
	fill-opacity: 1 !important;
}
