@import url("userConfig.css");

/*****************/
/*** POP MENUS ***/
/*****************/

.menupopup-arrowscrollbox {
    color: rgba(var(--secondary-color),1) !important;
    background-color: rgba(var(--primary-color), 1) !important;
    border-color: rgba(var(--second-accent-color), 1) !important;
    font-style: italic;
    font-family: monospace;
    opacity: 0.8;
    border-radius: var(--rounding) !important;
  }

menupopup > :is(menuitem, menu):hover {
    color: rgba(var(--primary-color), 1) !important;
    background-color: rgba(var(--secondary-accent-color), 1) !important;
}

#browser {
border-color: rgb(var(--primary-color));
background-color: rgba(var(--secondary-color), 0.9);
border: 1px solid;
}

toolbox#navigator-toolbox {
    border: 0 !important;
}
