@import url("userConfig.css");

/********************/
/*** TRANSPARENCY ***/
/********************/

.titlebar-color, .browser-toolbar, findbar {
    background: rgba(var(--secondary-color), 0.85) !important;  
}

tab[selected="true"]::after, .tabbrowser-tab[beforeselected-visible]::after {
    opacity: 0 !important;
}

#appcontent {
    background: transparent !important;
}
