@import url("userConfig.css");

.menupopup-arrowscrollbox {
  color: rgba(var(--secondary-color),1) !important;
  background-color: rgba(var(--primary-color), 1) !important;
  border-color: rgba(var(--accent-color), 1) !important;
  font-style: italic;
  font-family: monospace;
  opacity: 0.8;
  border-radius: var(--rounding) !important;
}

menupopup > :is(menuitem, menu):hover {
    color: rgba(var(--primary-color), 1) !important;
    background-color: rgba(var(--secondary-accent-color), 1) !important;
}

#browser {
  border-color: rgb(var(--primary-color));
  background-color: rgb(var(--secondary-color));
}

#tabbrowser-tabpanels {
  background-color: transparent !important;
}


/*================== MAIN HEADER ==================*/

toolbox#navigator-toolbox {
    border: 0 !important;
}

/*================== TABS BAR ==================*/

#titlebar #TabsToolbar {
    padding: 2px 0px 2px 6px !important;
    background: rgba(var(--secondary-color), 1) !important;
}

.titlebar-spacer[type="pre-tabs"] {
    /* border: 0 !important; */
    display: none;
}

#tabbrowser-tabs:not([movingtab])>.tabbrowser-tab[beforeselected-visible]::after,
#tabbrowser-tabs[movingtab]>.tabbrowser-tab[visuallyselected]::before,
.tabbrowser-tab[visuallyselected]::after {
    opacity: 0 !important;
}

.tab-line {
    height: 0px !important;
}

.tabbrowser-tab {
    margin-right: 5px !important;
}

.tabbrowser-tab:not([visuallyselected="true"]),
.tabbrowser-tab:-moz-lwtheme {
    color: rgba(var(--secondary-accent-color), 1) !important;
}

tab[selected="true"] .tab-content {
    color: rgba(var(--secondary-accent-color), 1) !important;
}

tab[selected="true"] .tab-background {
    background: rgba(var(--accent-color), 1) !important;
}

.tabbrowser-tab::after,
.tabbrowser-tab::before {
    border-left: 0 !important;
    opacity: 0 !important;
}

.tab-close-button {
    transition: all 0.3s ease !important;
    border-radius: var(--rounding) !important;
}

.tab-close-button:hover {
    fill-opacity: 1 !important;
    color: rgba(var(--secondary-accent-color), 1) !important;
}

.tabbrowser-tab>.tab-stack>.tab-background {
    border-radius: var(--rounding) !important;
}

.tabbrowser-tab>.tab-stack>.tab-background:not([selected="true"]) {
    transition: all 0.3s ease !important;
}

.tabbrowser-tab:hover>.tab-stack>.tab-background:not([selected="true"]) {
    background-color: rgba(var(--primary-color), 0.7) !important;
}


/*================== CAPTION BUTTONS ==================*/

.titlebar-buttonbox {
    position: relative;
    margin-right: 0px;
    margin-top: -10px !important;
}

.titlebar-button {
    transition: all 0.3s ease !important;
    padding: 8px 10px !important;
    background: rgba(var(--secondary-color), 1) !important;
}

.titlebar-button.titlebar-close {
    padding-right: 10px !important;
}

.titlebar-button>.toolbarbutton-icon {
    transition: all 0.3s ease !important;
    list-style-image: none;
    border-radius: var(--rounding);
}

.titlebar-button.titlebar-min>.toolbarbutton-icon {
    background: rgba(var(--third-accent-color), 1) !important;
}

.titlebar-button.titlebar-max>.toolbarbutton-icon,
.titlebar-button.titlebar-restore>.toolbarbutton-icon {
    background: rgba(var(--accent-color), 1) !important;
}

.titlebar-button.titlebar-close>.toolbarbutton-icon {
    background: rgba(var(--accent-color), 1) !important;
}

.titlebar-button:hover>.toolbarbutton-icon {
    background: rgba(var(--accent-color), 1) !important;
}

.titlebar-button.titlebar-min:hover>.toolbarbutton-icon,
.titlebar-button.titlebar-max:hover>.toolbarbutton-icon,
.titlebar-button.titlebar-restore:hover>.toolbarbutton-icon,
.titlebar-button.titlebar-close:hover>.toolbarbutton-icon {

}

/*** SEARCH/NAV BAR ***/

toolbar#nav-bar {
    background: rgba(var(--secondary-color), 1) !important;
    box-shadow: none !important;
    padding-bottom: 4px !important;
}

toolbar#nav-bar toolbarbutton .toolbarbutton-icon,
toolbar#nav-bar toolbarbutton #fxa-avatar-image {
    transition: all 0.3s ease !important;
    fill: rgba(var(--secondary-accent-color), 1) !important;
}

#urlbar>#urlbar-background {
    border-radius: var(--rounding) !important;
    border: 0 !important;
    background-color: rgba(var(--accent-color), 1) !important;
    color: rgba(var(--third-accent-color), 1) !important;
}

#urlbar:not([focused="true"])>#urlbar-background,
#urlbar>#urlbar-input-container {
    border-radius: var(--rounding) !important;
    color: rgba(var(--third-accent-color), 1) !important;
}

:root:not([uidensity="compact"]) #back-button>.toolbarbutton-icon {
    background-color: transparent !important;
    color: rgba(var(--third-accent-color), 1) !important;
}

.urlbar-input-box {
    color: rgba(var(--third-accent-color), 1) !important;
}

.urlbarView {
    color: rgba(var(--secondary-color), 0.9) !important;

}

.urlbarView-row[selected] .urlbarView-row-inner,
.urlbarView-row:hover .urlbarView-row-inner {
    color: rgba(var(--primary-color), 1) !important;
    background-color: rgba(var(--secondary-accent-color), 0.9) !important; 
}

box.toolbarbutton-animatable-box {
    margin-top: -2px !important;
}
